{% if 'Firewall' in group_names %}
security {
    address-book {
replace:        global {
{% for address_book in firewall %}
            address {{ address_book.address_book }} {{ address_book.address_entry }};
{% endfor %}
        }
    }
}
{% endif %}
