{% if 'Firewall' in group_names %}
security {
    address-book {
        global {
{% for address_book in firewall %}
replace:            address {{ address_book.address_book }} {{ address_book.address_entry }};
        }
    }
}    
{% endfor %}   
{% endif %}
