{% if 'Firewall' in group_names %}
security {
    address-book {
        global {
{% for test in firewall %}
replace:            address {{ address_book }} {{ address_entry }};
        }
    }
{% endfor %}    
    policies {
        from-zone trust to-zone untrust {
{% for address_book in firewall %}        
replace:            policy {{ policy_name }} {
                match {
                    source-address {{ address_book }};
                    destination-address any;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
    }
{% endfor %}
}
{% endif %}
