replace: vlans {
{% for vlan in vlans %}
    {{ vlan.vlan_name }} {
        vlan-id {{ vlan.vlan_id }};
{% if 'Spine' in group_names %}
        l3-interface irb.{{ vlan.vlan_id }};
{% endif %}
    }
{% endfor  %}
}
interfaces {
{% if 'Switches' in group_names %}
{% for uplink in uplinks %}
    {{ uplink.uplink }} {
        unit 0 {
            family ethernet-switching {
                vlan {
replace:            members [{% for vlan in vlans %} {{ vlan.vlan_name }}{% endfor %} ];
                }
            }
        }
    }
{% endfor %} 
{% endif %}
{% if 'Spine' in group_names %}
{% for address in vrrp %}
    irb {
replace: unit {{ address.group }} {
            family inet {           
                address {{ address.address }} {
                    vrrp-group {{ address.group }} {
                        virtual-address {{ address.vip }};
                        priority {{ address.prio }};                        
                        preempt;
                        accept-data;
                    }
                }    
            }
        }
    }
{% endfor %}
{% endif %}
}
