{% if 'Switches' in group_names %}
replace: vlans {
{% for vlan in vlans %}
    {{ vlan.vlan_name }} {
        vlan-id {{ vlan.vlan_id }};       
{% if 'Spine' in group_names %}
        l3-interface irb.{{ vlan.vlan_id }};
        vxlan vni {{ vlan.vni_id }}
{% endif %}
    }
{% endfor  %}
}
interfaces {
{% for uplink in uplinks %}
    {{ uplink.uplink }} {
        unit 0 {
            family ethernet-switching {
                vlan {
replace:            members [{% for vlan in vlans %} {{ vlan.vlan_name }}{% endfor %} ];
                }
            }
        }
    }
{% endfor %} 
{% if 'Spine' in group_names %}
{% for address in vrrp %}
    irb {
replace:    unit {{ address.group }} {
            virtual-gateway-accept-data;
            family inet {           
                address {{ address.address }} {
                    preferred
                    virtual-gateway-address {{ address.vip }};
                }
            }    
        }
    }
{% endfor %}
{% endif %}
}
{% endif %}
