replace: vlans {
{% for vlan in vlans %}
    {{ vlan.vlan_name }} {
        vlan-id {{ vlan.vlan_id }};
{% if 'Spine' in group_names %}
        l3-interface irb.{{ vlan.vlan_id }};
{% endif %}
    }
{% endfor  %}
}
interfaces {
{% for uplink in uplinks %}
    {{ uplink.uplink }} {
        unit 0 {
            family ethernet-switching {
                vlan {
replace:            members [{% for vlan in vlans %} {{ vlan.vlan_name }}{% endfor %} ];
                }
            }
        }
    }
{% endfor %}
{% for vlan in vlans %}
{% for address in vrrp %} 
{% if 'Spine' in group_names %}
    irb {
replace: unit {{ vlan.vlan_id }} {
            family inet {           
                address {{ address.address }} {
                    vrrp-group {{ address.group }} {
                        virtual-address {{ address.vip }};
                        priority {{ address.prio }};                        
                        preemept;
                        accept-data;
                    }
                }    
            }
        }
    }
{% endif %}
{% endfor %}
{% endfor %}
}
